.CallForExtendedAbstracts {
    font-family: Arial, sans-serif;
}

.section-title {
    color: #E59700;
    border-bottom: 2px solid #E59700;
    padding-bottom: 10px;
}

.p-tracks {
    margin: 0 auto;
    max-width: 600px;
}

.p-text {
    background-color: #E59700;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b17500;
}

.ConferenceTracks-2 {
    position: absolute;
    top: 80%;
    left: -5%;
    transform: translateY(-50%);
}
