/* App.css */

/* HomePage */

.particals-effect {
    display: flex;
    flex-direction: column;
    height: 86vh;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: white;
    text-align: center;
}


/*@keyframes fadeInOut {*/
/*    0% {opacity: 0;}*/
/*    20% {opacity: 0;}*/
/*    80% {opacity: 1;}*/
/*    100% {opacity: 0;}*/
/*}*/

.fadeInOut {
/*    animation-name: fadeInOut;*/
/*    animation-duration: 5s;*/
    animation-iteration-count: infinite;
    color: #E59700;
    /*text-shadow: #a4a4a4 5px 5px 20px;*/
    /*background: -webkit-linear-gradient(left, #ee7752, #ff5500, #eeff00, #fff201);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    font-weight: bold;
}


/*      Navbar     */
.dropdown:hover .dropdown-menu {
    display: block;
}
.custom-nav-link {
    color: #F5B700;
    position: relative;
    text-align: center;

}
.custom-nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F5B700;
    transition: width .3s;
    text-align: center;
}

.custom-nav-link:hover::after, .custom-nav-link.active::after {
    width: 100%;
    text-align: center;
    color: #ffc70b;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    color: #F5B700;
    text-align: center;
}

.navbar .dropdown-toggle::after {
    display: none;
    text-align: center;
}


/*      Footer      */

.card-footer {
    position: relative;
    z-index: 1;
    background-color: white;
}

.card-footer a:hover {
    color: #F5B700 !important;
}

/*      About     */

.date-list{
    justify-self: center !important;
    margin: 20px;
    margin-inside: 5%;
    border-radius: 60px;
    box-shadow: #cecece 5px 5px 20px;
    padding: 1%;
    overflow-x: auto;
}

.date-list:hover {
    box-shadow: 0 0 20px #ffe492;
}


